img{
  width: 250px;
  margin-bottom: 30px;
}

form{
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

input{
  margin-bottom: 10px;
}

input[type="button"]{
  margin-right: 10px;
}

table {
  width: 80%;

}

thead {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


tr {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
footer {
  background-color: #999999;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}



